*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}
:root {
    --primary: #407526;
    --secondary: #6AC23E;
    --tertiary: #587549;
    --white: #ffffff;
    font-size: 62.5%;
}

header{
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    border: 5px double var(--primary);
    position: relative;
    top: 0;
    z-index:1;
}
body {
    background-color: var(--tertiary);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}


.quiz-container {
    width: 100%;
    max-width: 80%;
    margin-top: 100px;
    margin-left: 200px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
   
}



.btn-list {
    display:inline-grid;
    gap: 10px;
    margin: 20px 0;


}

.btn {
    background-color: white;
    border: 3px solid var(--tertiary);
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
    font-size: x-large;

}
.btn:hover {
    cursor: pointer;
    border-color: black;
    transform:scale(1.2);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display:flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.correct {
    font-size: 3rem;
    font-weight: bold;
    color: green;
    font-style:italic;
    border-bottom: solid white;
}

.wrong {
    font-size: 3rem;
    font-weight: bold;
    color: red;
    font-style:italic;
    border-bottom: solid white;
}